@page
@using TurismoNeuquen.Models
@model TurismoNeuquen.Pages.AñadirAtraccionModel
@{
    <h1>Añadir Atraccion</h1>


    <form method="post">
        <input type="number", name="id" />
        <input type="text" , name="name" />
        <input type="text" , name="description" />
        <button type="submit">Añadir </button>

    </form>

    <table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Descrpition</th>
    </tr>
    </thead>
    <tbody>
        
        @foreach(Atraction atraction in Model.ListOfAtractions)
            {
                <tr>
                    <td>
                    @atraction.Id
                    </td>
                    @atraction.Name
                    <td>
                    @atraction.Description
                    </td>
                    <td>

                    </td>
                </tr>
            }
    </tbody>
    </table>
}
