@page
@model TurismoNeuquen.Pages.IndexModel
@{
    ViewData["Title"] = "Neuquén Province Map";
    var poisJson = System.Text.Json.JsonSerializer.Serialize(Model.POIs);
}

<div class="container-fluid">
    <div id="map"></div>
    @* Check if the user is logged in and show the floating button *@
    @if (HttpContext.Request.Cookies.ContainsKey(".AspNetCore.UserCookie"))
    {
        <a asp-page="/AddPoi">
            <button type="button" class="btn btn-primary rounded-circle floating-btn">
                <i class="fas fa-plus"></i>
            </button>
        </a>
    }
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- Pass server-side data to JavaScript -->
<script>
    window.poisData = @Html.Raw(poisJson);
</script>

<!-- Link to the external JavaScript file -->
<script src="~/js/index.js"></script>