@page
@model TurismoNeuquen.Pages.SignUpModel
@{
    ViewData["Title"] = "User Sign-Up";
}

<div class="container d-flex justify-content-center align-items-center" style=" min-height: calc(100vh - 60px);">
    <div class="card shadow-lg" style="max-width: 400px; width: 100%;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Registrarse</h2>

            <form method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" id="username" name="Username" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Constraseña:</label>
                    <input type="password" id="password" name="Password" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirmar constraseña:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-secondary w-100">Registrarse</button>
            </form>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color: red;">@Model.ErrorMessage</p>
}
